.desh{
    background:#1f2833;
    padding-bottom: 200px;
   
}
.tools{
    /* margin-left: 2px; */
    text-transform: uppercase;
    border:2px solid aquamarine;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
    /* padding-left: -10px; */
    /* align-items: center; */
    /* text-align: center; */
}