.logins{
    color:white;
    background-color: black;
    border-radius: 7px;
    font-size: 22px;
}

.regss{
    color:white;
    background-color: black;
    border-radius: 7px;
    font-size: 20px;
    padding: 8px;

}
.newss{
    color: black;
    font-weight: 600;
    font-size: 19px;
}