.data-img{
    display: flex;
}

.data-img img{
    height:150px;
    width: 300px;
}
.about-us{
    color:brown;
}

.about-above{
    margin-top: 60px;
    /* padding-bottom: 30px; */
}
.about-part{
    text-align: left;
    margin-top: 30px;
}